name: trufflehog

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  id-token: write
  issues: write
  pull-requests: write

jobs:
  TruffleHog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: TruffleHog - Secrets Scan
        id: trufflehog
        if: always()
        uses: trufflesecurity/trufflehog@v3.90.13 
        with:
          extra_args: --results=verified,unknown
